
.logFont{
    -fx-font-family: "Consolas";
}

.listView{
    -fx-font-size: 12px;
}

.descriptionView{
    -fx-font-size: 14px;
}

.infoFont{
    -fx-text-fill: #919191;
}

.invisibleHorizontalScroll .scroll-bar:horizontal {
/*  
    temporary to remove horizontal scrollbar
    -fx-opacity: 0;
    -fx-padding: -10;*/
}