
.logFont{
    -fx-font-family: "Consolas";
}

.listView{
    -fx-font-size: 12px;
}

.descriptionView{
    -fx-font-size: 14px;
}

.scrollBarInvisible .scroll-bar:vertical {
    /* -fx-scale-x: 0;*/
}